CompileFlags:
  Add: [-fcolor-diagnostics, -Wno-unused-command-line-argument, -std=c++20]
  Remove: [-std=c++14]

Diagnostics:
  Suppress:
    - unused-parameter
    - unused-variable
    - unused-private-field

Completion:
  HeaderInsertion: Never

Index:
  Background: Build

InlayHints:
  Enabled: No